input[type=mayuscula]
{
    text-transform: uppercase;
}

.letra{
  font-size: 16;
  text-transform: uppercase;
}
.textarea{
    text-transform: uppercase;
}
.ant-table-content-rojo {
  background: rgb(255, 158, 129);

 }
 .ant-table-content-verde {
  background: rgb(152, 251, 152);

 }
 .ant-table-content-gris {
  background: rgb(188, 195, 202);

 }
.grises img {

        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
        -o-filter: grayscale(0%);
        filter: none;
        
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    
    }
    .grises img:hover { 
    filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }

  .grises{
    position:relative;
  }

  .grises>div
  {
    position: relative;
    bottom:25px;
    color:#fff;
    background-color:#000;
    padding:2px 10px;
    opacity:1;
    font-size: 12;
    font-weight:bold;  
  }
  .titulo{
    position:relative;
  }
  .titulo>div
  {
    position: relative;
    bottom:25px;
    color:rgb(26, 56, 102);
    background-color:#fff;
    padding:2px 10px;
    opacity:1;
     font-weight:bold;  
    text-align: right;
  }

.texto{
  font-size: 16;
  font-weight: bold;
}
.botongenerarinformeseguimiento{
  font-size: 16;
  font-weight: bold;
  left: 80%;
}
 